body {
    background-color: #E8F8FF;
}

.OffBodyContainer {
    padding: 70px 0 100px;
}

.FilterBox {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80%;
    background-color: #F5F5DC;
    padding: 10px;
    margin: 0 auto;
}

.FilterSection {
    margin-bottom: 10px;
}

.FilterTitle {
    font-size: 16px;
    margin-bottom: 5px;
}

.FilterOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.FilterButton {
    padding: 10px 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.FilterButton.Active {
    background-color: #E8F3F7;
    color: black;
    font-weight: bold;
}

.OfflinePosterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.OfflinePosterCard {
    background: linear-gradient(120deg, skyblue 0%, white 100%);
    border-radius: 15px;
    color: #333;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    transition: transform 0.2s;
}

.OfflinePosterCard:hover {
    transform: translateY(-5px);
}

.OfflinePosterImageContainer {
    position: relative; /* 이미지 컨테이너를 상대적으로 위치시킴 */
}

.OfflinePosterImage {
    width: 100%; /* 이미지가 컨테이너에 맞도록 설정 */
    height: auto;
    display: block;
}

.OfflineDeadlineImage {
    position: absolute; /* 커버를 절대적으로 위치시킴 */
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.OfflinePosterDetails {
    padding: 10px;
}

.OfflinePosterTitle {
    font-size: 16px;
    color: #333;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.OfflinePosterDates,
.OfflinePosterLocation {
    font-size: 12px;
    color: #666;
}

.OfflinePosterActions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.HeartIcon {
    cursor: pointer;
    font-size: 24px;
    color: red;
}

.LikeCount {
    font-size: 18px;
    font-weight: bold;
}

.OfflineViews {
    flex: 1;
    text-align: right;
    font-weight: bold;
}

.OfflinePagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.OfflinePagination button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.OfflinePagination button.Active {
    background-color: #007BFF;
    color: white;
}

.PosterStatusReceipt {
    background-color: orange;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.PosterStatusClosed {
    background-color: gray;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.PosterStatusPreparing {
    background-color: black;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.BookmarkIcon {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: grey;
}

.BookmarkIcon.Active {
    color: gold;
}

.BookmarkIcon:hover {
    color: black;
}

.OfflineCategory {
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
}

.OfflineCategoryEducation {
    background-color: orangered;
    font-weight: bold;
}

.OfflineCategoryExperience {
    background-color: purple;
    font-weight: bold;
    color: white;
}

input[type='date'] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
