.Online_detail_inner {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
    transition: width 0.2s, padding 0.2s;
    text-align: center; /* 요소들을 중앙 정렬 */
}

/* 포스터 세부 사항 뷰 헤더의 스타일 */
.poster-detail-board_view_head {
    flex: 1; /* 컨테이너가 성장하도록 설정 */
    display: flex; /* Flexbox 레이아웃 */
    flex-direction: column; /* 자식 요소들을 수직으로 쌓기 */
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    padding: 10px; /* 내부 패딩 추가 */
    margin-top: 20px; /* 컨테이너 위쪽에 간격 추가 */
    margin-bottom: 20px; /* 컨테이너 아래쪽에 간격 추가 */
}

.On_sub_title {
    border: 1px solid rgb(204, 204, 204);
    width: 80%;
    margin-left: 10%;
    text-align: center;
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.02);
    margin-top: 20px;
    margin-bottom: 50px;
}

.Online-actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.poster-actions {
    display: flex;
    width: 100%;
}


.On_left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.On_center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.On_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.On_heart-icon, .On_like-count, .On_bookmark-icon, .On_Detail_Views {
    margin: 0 5px;
}

.On_heart-icon{
    cursor: pointer;
    font-size: 24px;
    color: red;
}

.On_bookmark-icon{
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: grey;
}

.On_bookmark-icon.active {
    color: gold;
}

.On_bookmark-icon:hover {
    color: black;
}

.Online_info_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}


/* 추가 정보 버튼 스타일 */
.Online_pro_list_Button, .Online_pro_info_Button, .On_teacher_info_Button, .Online_Comment_Button {
    min-width: 240px; /* 최소 너비 */
    min-height: 65px; /* 최소 높이 */
}

.on_poster_box {
    position: relative; /* 정상 위치를 기준으로 상대적으로 배치 */
    width: 100%; /* 부모 컨테이너의 전체 너비 */
    display: block; /* 블록 디스플레이 */
    flex: 0 0 400px; /* 고정 크기 컨테이너 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    border-radius: 20px; /* 둥근 모서리 */
}

/* 좋아요 수 및 상세 조회수 스타일 */
.On_like-count, .On_Detail_Views {
    display: inline-flex; /* 인라인 Flexbox 레이아웃 */
    align-items: center; /* 아이템들을 수직으로 중앙 정렬 */
    font-weight: bold; /* 두꺼운 글씨 */
}



.Online_program_list {
    border-collapse: separate;
    width: 100%;
}

.Online_program_list th,
.Online_program_list td {
    height: auto; /* 높이를 자동으로 설정 */
    padding: 10px; /* padding 값을 적절히 조정 */
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.Online_program_list th {
    color: #222;
    font-weight: 500;
    background-color: #87CEFA; /* 하늘색 */
    border-bottom: 1px solid #ddd;
}

.Online_program_list td {
    color: #444;
    border-right: 0;
    border-top: 0;
}

.Online_program_list td.subject {
    text-align: left !important;
}

.Online_program_list td.subject > a {
    display: inline-block;
    max-width: 100%;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*강의 목록, 강의 소개, 강사 소개, 댓글 부제목*/
.Online_list_Title, .Online_Comment_Title, .Online_Teacher_Info_Title,.Online_Pro_Info_Title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 강좌 단원명 스타일  */
.Lesson_1_title, .Lesson_1 {
    font-weight: 500;
    background-color: #bbe5ff;
}

/*학습 내용 스타일*/
.Lesson_sub_title {
    color: #444;
    border: 1px solid #ddd;
    border-right: 0;
    border-top: 0;
    height: auto; /* 높이를 자동으로 설정 */
    padding: 10px; /* 적절한 padding */
}

.On_Sign_Button {
    display: inline-block;
    padding: 5px 10px; /* padding 값을 5px로 조정 */
    color: #fff;
    background-color: #87CEFA; /* 하늘색 */
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.On_Sign_Button:hover {
    background-color: #6495ED; /* 진한 하늘색 */
}

/* 강의목록, 댓글 게시판 스타일 */
.Online_Pro_list_Table,.Online_Comment {
    overflow: hidden;
    overflow-x: auto;
    margin: 20px auto; /* 상하단 간격 추가 및 가운데 정렬 */
    padding: 55px 60px; /* 내부 패딩 추가 */
    background-color: #f9f9f9; /* 연한 회색 배경 색상 */
    border: 1px solid #ddd; /* 연한 회색 테두리 */
    border-radius: 8px; /* 둥근 모서리 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}


/* 프로그램 정보, 강사 정보 스타일 */
.Online_Pro_Info, .Online_Teacher_Info {
    min-height: 300px;
    max-width: 800px; /* 최대 너비 */
    margin: 20px auto; /* 상하단 간격 추가 및 가운데 정렬 */
    padding: 55px 60px; /* 내부 패딩 추가 */
    background-color: #f9f9f9; /* 연한 회색 배경 색상 */
    border: 1px solid #ddd; /* 연한 회색 테두리 */
    border-radius: 8px; /* 둥근 모서리 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
    font-family: 'Arial', sans-serif; /* 폰트 패밀리 */
    line-height: 1.6; /* 줄 간격 */
    color: #333; /* 진한 회색 글자 색상 */
}


/* 강좌/강사 소개에 쓸 사진 스타일 */
.on_detail_poster_image,.on_detail_teacher_image {
    max-width: 100%; /* 컨테이너의 전체 너비 */
    height: auto; /* 비율을 유지하며 높이 자동 설정 */
    display: block; /* 블록 디스플레이 */
}


/*댓글 게시판 작성란 스타일*/
.Online_input_comment {
    width: 100%;
    height: 150px;
    padding: 20px 25px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
    resize: none; /* 크기 조절 비활성화 */
}

.Write_Online_Comment{
    text-align: right; 
    padding: 10px; 
    margin: 10px 0; 
    display: flex; 
    justify-content: flex-end; /* 작성 버튼을 우측 정렬 */
    align-items: center; 
}


/* 댓글 작성 버튼 */
.Write_Online_Comment {
    text-align: right;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.Write_Online_Comment_Button {
    min-width: 120px;
    background-color: #87CEFA;
    border: 2px solid #87CEFA; 
    border-radius: 50px;
    padding: 10px 20px; 
    color: #fff; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, border-color 0.3s; 
}

.Write_Online_Comment_Button:hover {
    background-color: #4682B4; 
    border-color: #4682B4;
}

/*댓글 목록 마진*/
.Online_Comment_List {
    margin-top: 20px;
}


.Online_Comment_User_Info {
    border: 1px solid #ddd; /* 테두리 색상 */
    padding: 10px; /* 내부 여백 */
    margin-bottom: 10px;
    border-radius: 5px; 
    display: flex; 
    align-items: center; 
    
}

.Online_Comment_User_Profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.Online_Comment_Context{
    border-radius: 5px;
    flex-grow: 1;  
    margin-left: 60px;
}


.Reply_area {
    align-self: flex-end; /* 부모 요소의 끝에 정렬 */
    margin-top: 10px; /* 위쪽 여백 */
}

/* 테이블 스타일
.Online_Pro_list_Table {
    overflow: hidden;
    overflow-x: auto;
}

.Online_program_list {
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
}

.Online_program_list th {
    height: 65px;
    padding: 10px 15px;
    text-align: center;
    color: #222;
    font-weight: 500;
    background-color: #87CEFA; 
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}

.Online_program_list td {
    color: #444;
    border: 1px solid #ddd;
    border-right: 0;
    border-top: 0;
}

.Online_program_list td.subject {
    text-align: left !important;
}

.Online_program_list td.subject > a {
    display: inline-block;
    max-width: 100%;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} 

.Lesson_1_title, .Lesson_1 {
    font-weight: 500;
    background-color: #bbe5ff;
}

.Lesson_sub_title {
    color: #444;
    border: 1px solid #ddd;
    border-right: 0;
    border-top: 0;
}

.On_Sign_Button {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    background-color: #87CEFA; 
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.On_Sign_Button:hover {
    background-color: #6495ED; 
} */
