.classOnline_container
{
    width: 100%;
}

.classOnline
{
    flex:0.8;
    height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;  
}

.classOnline_area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 400px;
}

#classOnline_lecField{
    width:173px;
    text-align: center;
}

.outer_button{
    margin : 10px 10px 0 0;
    float:right;
    width:30px;
    height: 30px;
}

.trainList{
    display:flex;
    flex-direction: row;
}

.trainList_area{
    display:flex;
    flex-direction: column;
}

.trainList button{
    border:none;
}

.myPage_education_item_wrapper{
    background-color: white;
    padding:10px 20px;
    flex-direction: column;
    width: 100%;
    height: 100px;
    overflow-y: auto;
}