/* .lecOnDetail_container_
{
    display: flex;
    height:300px;
    width: 100%;
}

.lecOnDetail
{
    flex:0.8;
    height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;  
}

.lecOnDetail > p{
    font-size: 30px;
    font-weight:800;
}

.lecOnDetail_area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 400px;
}

.lecOnDetail_area > .lecOnDetail_right > ul > li,
.lecOnDetail_area > .lecOnDetail_left > ul > li{
    line-height: 45px;
}

.lecOnDetail_left > ul > li{
    text-align: right;
}

.lecOnDetail_right > ul > li{
    text-align: left;
}



#lecOnDetail_poster_attachment,
.introduceEdu_attachment,
.introduceTeach_attachment{
    width:180px;
    background-color: rgba(0, 0, 0, 0);
}

#lecOnDetail_emailId{
    width:120px;
}

#lecOnDetail_email_dropdown{
    margin-left : 10px;
}

#lecOnDetail_emailAddr{
    width:180px;
}

#lecOnDetail_lecField{
    width:173px;
    text-align: center;
}

#lecOnDetail_introduceEdu_detail,
#lecOnDetail_introduceTeach_detail{
    width:300px;
    height:55px;
    margin-top: 12px;
    border:none;
    resize:none;
}

.trainList{
    display:flex;
    flex-direction: row;
}

.trainList_area{
    display:flex;
    flex-direction: column;
}

.education-item-wrapper{
    background-color: white;
    padding:10px 20px;
    flex-direction: column;
    width: 100%;
    height: 100px;
    overflow-y: auto;
}

.sub-education-item-wrapper{
    background-color: #ccc;
    padding:3px 5px;
    margin:0px;
}

.trainList_right{
    display: flex;
    flex-direction: row;
}


#lecOnDetail_confirm{
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #AECCF2;
    border-radius: 10px;
    width:100px;
    height: 50px;
    font-size: 25px;
    font-weight:600;
}

#lecOnDetail_delete{
    margin-left: 20px;
    margin-bottom: 30px;
    background-color: #FF8585;
    border-radius: 10px;
    width:100px;
    height: 50px;
    font-size: 25px;
    font-weight:600;
}

.no-scroll {
    overflow: hidden;
}

.lecOnDetail_area {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.trainList {
    display: flex;
    flex-direction: column;
}




 */
