.CenterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-right: 700px;
  margin-top: 42px;
}

.State_title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
  cursor: default;
}

.CenterMenuContainer {
  background-color: white;
  height: 70px;
  align-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.CenterMenu {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  cursor: default;
}

.CenterLowMenuContainer {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 13px;
  font-weight: bold;
  cursor: default;
}

.CenterLowMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

/* 새로운 스타일 추가 */
.TableContainer {
  width: 100%;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.ProgramTable {
  width: 100%;
  border-collapse: collapse;
}

.ProgramTable th, .ProgramTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.ProgramTable th {
  background-color: #f2f2f2;
  color: black;
}

.ProgramItem:hover {
  background-color: #f1f1f1;
}
