.lecOnDetail_container {
    display: flex;
    height: 100%;
}

.lecOnDetail_container ul {
    list-style-type: none;
}

.lecOnDetail {
    flex: 0.85;
    background-color: #ffffff;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    
}

.lecOnDetail button{
    border: none;
    height: 30px;
    line-height: 30px;
}

.lecOnDetail>p {
    margin-top:30px;
    font-size: 30px;
    font-weight:500;
}

.lecOnDetail_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 95%;
    overflow-y: auto;
}

.lecOnDetail_area li {
    line-height: 45px;
    height:45px;
    
}

.lecOnDetail_left>ul>li {
    text-align: right;
}

.lecOnDetail_right>ul>li {
    text-align: left;
}

.lecOnDetail input,
.lecOnDetail select {
    border-style: none;
    background-color: #ededed;
    height: 30px;
    text-align: center;
    line-height: 24px;
}

#lecOnDetail_poster_attachment,
#lecOnDetail_introduceEdu_attachment1,
#lecOnDetail_introduceEdu_attachment2,
#lecOnDetail_introduceTeach_attachment1,
#lecOnDetail_introduceTeach_attachment2 {
    width: 180px;
    background-color: rgba(0, 0, 0, 0);
}

#lecOnDetail_emailId {
    width: 120px;
}

#lecOnDetail_email_dropdown {
    margin-left: 10px;
}

#lecOnDetail_emailAddr {
    width: 180px;
}

#lecOnDetail_lecField {
    width: 173px;
    text-align: center;
}

.introduceEdu_buttonAlign,
.introduceTeach_buttonAlign{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lecOnDetail .introduceEdu_area,
.lecOnDetail .introduceTeach_area{
    max-height: 130px; /* 최대 높이 설정 */
    min-height: 130px; 
    width:500px;
    overflow-y: auto;
    margin-bottom: 5px;
    background-color: #fafafa;
}

.introduceEdu_flexArea,
.introduceTeach_flexArea{
    display: flex;
    flex-direction: row;
}

.lecOnDetail button{
    width:30px;
    height: 30px;
}

#lecOnDetail_introduceEdu_detail,
#lecOnDetail_introduceTeach_detail {
    width: 300px;
    height: 55px;
    margin-top: 12px;
    background-color: #ededed;
    border: none;
    resize: none;
}

.trainList {
    display: flex;
    flex-direction: row;
}

.trainList p{
    margin-top: 15px;
}

.trainList_area {
    display: flex;
    flex-direction: column;
}

.education-item-wrapper {
    background-color: #AECCF2;
    padding: 10px 20px;
}

.sub-education-item-wrapper {
    background-color: #CDDFF5;
    padding: 3px 5px;
    margin: 0px;
}

.trainList_right {
    display: flex;
    flex-direction: row;
}

.lecOnDetail_button_area {
    margin:10px;
}


#lecOnDetail_confirm {
    background-color: #AECCF2;
}

#lecOnDetail_delete {
    background-color: #FF8585;
}

.lecOnDetail_button_area button {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    font-weight: 600;
}

.introduceTeach_attArea{
    display:flex;
    list-style-type: none;
    justify-content: center;
}