.teachDetail_container
{
    display: flex;
    height:100%;
}

.teachDetail_container ul{
    list-style-type: none;
}

.teachDetail
{
    flex: 0.85;
    background-color: #ffffff;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;  
}

.teachDetail > p{
    margin-top:30px;
    font-size: 30px;
    font-weight:500;
}

.teachDetail_area{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.teachDetail input,
.teachDetail select
{
    border-style: none;
    background-color: #ededed;
    height: 30px;
    text-align: center;
}

.teachDetail_area li{
    line-height: 45px;
}

.teachDetail_left{
    text-align: right;
}

.teachDetail_right,
#teachDetail_lecField{
    text-align: left;
}

.teachDetail_radio_area{
    margin-left: 10px;
}

#teachDetail_birth_detail{
    width:185px;
}

#teachDetail_emailId{
    width:120px;
}

#teachDetail_emailAddr{
    width:180px;
}

#teachDetail_addr,
#teachDetail_addrD{
    width:500px;
}

#teachDetail_lecField{
    width:173px;
    text-align: center;
}

.teachDetail_checkboxArea{
    display:flex;
}

.teachDetail_checkboxDetailArea{
    display:flex;
    align-items: center;
}

.mainCareer_detail{
    width:200px;
    margin-right: 20px;
}

.License,
.teachAble{
    width:400px;
}

.mainCareer_flexArea input[type='number'] {
    width:100px;
}

.teach_detail_category_area{
    display:flex;
    flex-direction: row;
    width:500px;
    flex-wrap: wrap;
}

.teach_detail_category_label{
    display:flex;
    align-items: center;
    flex: 1 1 10%;
}

.mainCareer_buttonAlign button,
.License_buttonAlign button,
.teachAble_buttonAlign button{
    width:30px;
    height:30px;
    margin-left: 10px;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teachDetail .mainCareer_area,
.teachDetail .License_area,
.teachDetail .teachAble_area{
    max-height: 130px;
    min-height: 130px;  /* 최대 높이 설정 */
    width:500px;
    overflow-y: auto;
    margin: 10px 0;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.teachDetail .mainCareer_buttonAlign,
.teachDetail .License_buttonAlign,
.teachDetail .teachAble_buttonAlign {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.teachDetail .mainCareer_flexArea,
.teachDetail .License_flexArea,
.teachDetail .teachAble_flexArea{
    display: flex;
    align-items: center;
    gap: 5px;
    height:30px;
}

.mainCareer_endDate,
.mainCareer_startDate{
width:100px;
}
.License_flexArea input[type='text']{
    width:400px;
}

.teachAble_flexArea input[type='text']{
    width:400px;
}

.teachDetail_button_area button{
    margin-left: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border : none;
    width:100px;
    height: 50px;
    font-size: 25px;
    font-weight:600;
}

#teachDetail_confirm{
    background-color: #AECCF2;
}

#teachDetail_delete{
    background-color: #FF8585;
}

.License_attachment_button{
    height:30px;
    line-height: 30px;
    border: none;
    margin-right: 10px;
}

.teachDetail_confirmStartBtn{
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #E8F8FF;
    border-radius: 10px;
    width:150px;
    height: 75px;
    font-size: 25px;
    font-weight:600;
    border:none;
}

.teachDetail_confirmBtn{
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #AECCF2;
    border-radius: 10px;
    width:100px;
    height: 50px;
    font-size: 25px;
    font-weight:600;
    border:none;
}

.teachDetail_deleteBtn{
    margin-left: 20px;
    margin-bottom: 30px;
    background-color: #FF8585;
    border-radius: 10px;
    width:100px;
    height: 50px;
    font-size: 25px;
    font-weight:600;
    border:none;
}