.manageHome_container
{
    display: flex;
    height:100%;
}

.manageHome 
{
    flex: 0.85;
    background-color: #ffffff;
    text-align: center;
    font-weight: 800;
    font-family: "Noto Sans KR", sans-serif;  
}

.manageHome > p
{
    margin-top:30px;
    font-size: 30px;
    font-weight:800;
}

.manageHome_menu_area
{
margin-left: 15%;
margin-right: 15%;
font-size: 30px;
}

.manageHome_big_menu_area
{
    display: flex;
    justify-content: space-between; 
    margin-left: 15px; 
    margin-right: 15px; 
}

.manageHome_big_menu
{
    width:290px;
    height:290px;
    background-color: #7193D2;
    border-radius: 50px;
    margin: 2%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    color:#E8F3F7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.manageHome_small_menu_area
{
    display: flex;
    justify-content: space-between; 
    margin-left: 15px;
    margin-right: 15px; 
    
}

.manageHome_small_menu
{
    width:210px;
    height:210px;
    background-color: #7193D2;
    border-radius: 50px;
    margin: 2%;
    display: flex;
    justify-content: center; 
    align-items: center;
    color:#E8F3F7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}