.lecOffDetail_container
{
    display: flex;
    height:100%;
}

.lecOffDetail_container ul{
    list-style-type: none;
}

.lecOffDetail
{
    flex:0.8;
    background-color: #ffffff;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;  
    
}

.lecOffDetail input{
    line-height: 24px;
}

.lecOffDetail button
{
    border: none;
    height: 30px;
    margin-left: 10px;
    line-height: 30px;
}

.lecOffDetail_textArea{
    height: 90px;
}

.lecOffDetail > p{
    margin-top:30px;
    font-size: 30px;
    font-weight:800;
}

.lecOffDetail_area{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lecOffDetail_area > .lecOffDetail_right > ul > li,
.lecOffDetail_area > .lecOffDetail_left > ul > li{
    line-height: 45px;
    flex: 1 1 auto;
}

.lecOffDetail_textarea{
    height: 90px;
}

.lecOffDetail_left > ul > li{
    text-align: right;
}

.lecOffDetail_right > ul > li{
    text-align: left;
}

.lecOffDetail input
{
    border-style: none;
    background-color: #ededed;
    height: 30px;
    text-align: center;
}

.lecOffDetail select{
    border-style: none;
    background-color: #ededed;
    text-align:center;
}

.lecOffDetail .introduceEdu_area,
.lecOffDetail .introduceTeach_area{
    max-height: 130px;
    min-height: 130px;  /* 최대 높이 설정 */
    width:500px;
    overflow-y: auto;
    margin: 10px 0;
    background-color: #fafafa;
}

.lecOffDetail .introduceEdu_buttonAlign,
.lecOffDetail .introduceTeach_buttonAlign {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lecOffDetail .introduceEdu_flexArea,
.lecOffDetail .introduceTeach_flexArea{
    height: 45px;
}

#lecOffDetail_emailId{
    width:120px;
}

#lecOffDetail_email_dropdown{
    margin-left : 10px;
}

#lecOffDetail_emailAddr{
    width:180px;
}

#lecOffDetail_lecField{
    width:173px;
    text-align: center;
}

#lecOffDetail_introduceEdu_detail,
#lecOffDetail_introduceTeach_detail{
    width:300px;
    height:55px;
    margin-top: 12px;
    background-color: #ededed;
    border:none;
    resize:none;
}

.introduceEdu_attachment,
.introduceTeach_attachment{
    width:200px;
}

.introduceEdu_flexArea,
.introduceTeach_flexArea{
    display:flex;
    justify-content: center;
    margin-top: 10px;
}

.lecOffDetail_program{
    background-color: #AECCF2;
    display:flex;
    flex-direction: row;
    padding:10px 20px 10px 0px;
}

.lecOffDetail_program > ul{
    padding-left: 20px;
}

/* 달력 원본 코드 수정 */

.lecOffDetail .rdrCalendarWrapper{
    width:360px;
    background-color: #ededed;
}

.lecOffDetail  .rdrDay{
    width :38px;
}

.lecOffDetail  .rdrWeekDays{
    width: 340px;
    display: flex;
    justify-content: center;
}

.lecOffDetail .rdrDefinedRangesWrapper,
.lecOffDetail .rdrDateDisplayWrapper {
    display: none;
}

.lecOffDetail .rdrMonthAndYearPickers > .rdrMonthPicker > select{
    padding:0px 10px 0px 0px;
}

.lecOffDetail .rdrMonthAndYearPickers > .rdrYearPicker > select{
    padding:0px 30px 0px 10px;
}

.lecOffDetail .rdrDays{
    width:380px;
}

.lecOffDetail .rdrMonth{
    width:360px;
}

/* 달력 원본 코드 수정 */

.oCalendar{
    margin-bottom: 20px;
}

.rCalendar{
    margin-top:20px;
}

.lecOffDetail_targetRadioWrapper,
.lecOffDetail_costWrapper{
    display:flex;
    align-items: center;
}

#lecOffDetail_progDetailName,
#lecOffDetail_note{
    width:348px;
}

.lecOffDetail_costWrapper{
    height:40px;
    margin-bottom:5px;
}

.lecOffDetail_costWrapper > p{
    font-size: 10px;
    margin:0 0 0 20px;
}

.lecOffDetail_contactInfo{
    width:500px;
    height:200px;
}

#lecOffDetail_confirm{
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: #AECCF2;
    border-radius: 10px;
    width:100px;
    height: 50px;
    font-size: 25px;
    font-weight:600;
}

#lecOffDetail_delete{
    margin-left: 20px;
    margin-bottom: 30px;
    background-color: #FF8585;
    border-radius: 10px;
    width:100px;
    height: 50px;
    font-size: 25px;
    font-weight:600;
}

