.banner_container {
    display: flex;
    height: 100%;
}

.banner {
    flex: 0.8;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif; 
}

.banner>p {
    font-size: 30px;
    font-weight: 800;
}

.banner_area {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    flex: 1;
}

.banner_item {
    width: 400px;
    background-color: #7193D2;
    border-radius: 30px;
    margin: 70px;
    color: #E8F3F7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.banner_item>p {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}

.banner_item input {
    height: 30px;
    border: none;
    background: #E8F8FF;
    text-align: center;
}

.input_group {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input_group ul{
    padding:0;
}

.input_group li{
    line-height: 20px;
}

.input_title{
    width:100px;
}

.input_detail{
    width:300px;
}

.form__input--file_wrap {
    display: flex;
    width: 290px;
    height: 35px;
}

.form__span--file {
    display: block;
    width: 199px;
    height: 30px;
    min-height: 30px;
    line-height: 30px;
    color: #000;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #E8F8FF;
    padding: 1px 2px;
    margin-right: 5px;
}

.form__label--file {
    width: 80px;
    height: 30px;
    line-height: 30px;
    background: #AECCF2;
    border-radius: 10px;
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.input_link {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
}

.input_detail{
    display: flex;
}

.input_detail button{
    cursor: pointer;
    border: none;
    padding: 0 13px;
    margin-left: 5px;
}

.minus {
    background-color: #FF8888;
}

.plus {
    background-color: #EDEDED;
}

.banner_confirm{
    border-radius: 10px;
    border:none;
    width:150px;
    height: 75px;
    background-color: #AECCF2;
    text-align: center;
    font-size: 30px;
}