.sidemenu
{
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    flex:0.2;
    justify-content: center;
    min-width: 230px;
    min-height: 100vh;
    background-color: #E8F8FF;
}

.sidemenu > ul
{
    list-style: none;
    margin: 0;
    padding-top:200px;
    text-align: left;
}

.sidemenu > ul > li
{
    padding: 10px;
    margin:10px;
    margin-left:0px;
}

.sidemenu > ul > li > p
{
    margin:0px;
    padding:0px;
    cursor: pointer;
}