.home {
    display: flex;
    flex-direction: column;
    background-color: #E8F8FF;
    height: 4500px;
    font-family: "Noto Sans KR", sans-serif;
}
.home > header {
    position: relative;
    z-index: 1;
}

.home > Footer {
    position: relative;
    z-index: 0;
    bottom: 0;
}