.schedule_form {
    height: 1100px;
}

.schedule_body {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

#calendar_body {
    background-color: white;
    outline: 3px solid #e1ebff;
    border-radius: 10px;
    padding: 20px;
}

.header {
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: 30px;
}

.header > select {
    border: none;
    background-color: transparent;
}

.header > select, .sche_button {
    color: #394570;
    font-weight: 700;
    padding-bottom: 2px;
    border: none;
    background-color: rgb(0,0,0,0);
}

.sche-dropdown {
    width: 105px;
    margin-right: -90px;
}
  
.days {
    display: flex;
    margin-bottom: 30px;
    font-weight: 600;
}

.days > .day {
    height: 40px;
    display: flex;
    justify-content: center;
}
  
.row {
    margin: 0;
    cursor: pointer;
    font-size: 13px;
}
  
.day {
    width: 120px;
    height: 110px;
    display: flex;
}
  
.schedule_calendar {
    margin: 0;
}

.monthly_program {
    width: 100%;
    text-align: center;
    height: 47px;
}

.date_program {
    font-size: 25px;
    font-weight: 600;
}