.ClassState {
    background-color: white;
    width: 100%; /* 가로폭 100% 설정 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 20px; /* 글씨 크기 */
    font-weight: bold; /* 글씨 두껍게 */
    margin-left: 8%; /* 왼쪽 여백 추가 */
    text-align: center; /* 가운데 정렬 */
}

.ClassMenuContainer {
    background-color: white;
    width: 100%; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 20px; 
    font-weight: bold; 
    margin-left: 8%; 
    text-align: justify;
    display: flex;
}

.menu-item {
    font-size: 16px; /* 글씨 크기 */
    font-weight: bold; /* 글씨 두껍게 */
    text-align: center; /* 가운데 정렬 */
    flex: 1; /* 각 요소가 동일한 너비를 갖도록 설정 */
}



.Ma {
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center; /* 추가 */
}

.TeacherFormContainer {
    order: 1;
}

.TeacherFormContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-right:-8%;
    
    margin-top: 20px;
    margin-bottom: 50px;
}

.TeacherFormContainer h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.CheckGroup label {
    font-weight: bold;
}

.validation,
.modify,
.delete {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.SnsEmail {
    margin-top: 20px;
    margin-bottom: 20px;
}

.SnsEmail label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.SnsEmail input[type='email'] {
    width: calc(100% - 40px); /* 변경 */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formGroup > button[type='submit'] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formGroup > button[type='submit']:hover {
    background-color: #0056b3;
}

.formGroup>div {
    display: flex;
    align-items: center;
}

.formGroup>div>input[type='date'],
.formGroup>div>input[type='text'] {
    width: calc(30% - 5px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-right: 5px;
}

.formGroup>div>button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.formGroup>div>button:hover {
    background-color: #0056b3;
}

.validation,
.modify,
.delete {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    margin-right: 20px;
}

.validation button,
.modify button,
.delete button {
    box-shadow: 0 0.1px 1px rgba(0, 0, 0, 0.1);
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    background-color: #007bff;
    color: white;
    border: none;
}

.validation button:hover,
.modify button:hover,
.delete button:hover {
    background-color: #0056b3;
}

.formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.formGroup input[type='text'],
.formGroup input[type='email'],
.formGroup input[type='tel'],
.formGroup input[type='date'] {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.formGroup h4 {
    font-size: 8px;
    color: #888;
    margin-top: 5px;
}

.formGroup button[type='submit'] {
    padding: 20px 80px;
    background-color: #007bff;
    color: white;
    border: none;   
    border-radius: 5px;  
    cursor: pointer;
    display: block;  
    margin: 0 auto;
    font-size: 20px;
}

.formGroup button[type='submit']:hover {
    background-color: #0056b3;
}

.formName,
.formEmail,
.formNumber,
.formHNumber,
.formDate,
.formAddress,
.formAffiliation,
.SnsEmail,
.formHistory {
    margin-bottom: 20px;
}

.formName label,
.formEmail label,
.formNumber label,
.formHNumber label,
.formDate label,
.formAddress label,
.formAffiliation label,
.SnsEmail label,
.formHistory label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.formName input[type='text'],
.formEmail input[type='email'],
.formNumber input[type='tel'],
.formHNumber input[type='tel'],
.formDate input[type='date'],
.formAddress input[type='text'],
.formAffiliation input[type='text'],
.SnsEmail input[type='email'],
.formHistory input[type='text'],
.formHistory input[type='date'] {
    width: 50%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.formNumber h4,
.formHNumber h4 {
    font-size: 8px;
    color: #888;
    margin-top: 5px;
}

.formGroup>div,
.formHistory .historyField {
    display: flex;
    align-items: center;
}

.formGroup>div>input[type='date'],
.formGroup>div>input[type='text'],
.formHistory .historyField input[type='text'],
.formHistory .historyField input[type='date'] {
    width: calc(30% - 5px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-right: 5px;
}

.formGroup>div>button,
.formHistory .historyField button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.formGroup>div>button:hover,
.formHistory .historyField button:hover {
    background-color: #0056b3;
}

.validation,
.modify,
.delete {
    display: inline-block;
    margin-top: -30px;
    margin-right: 20px;
}

.validation button,
.modify button,
.delete button {
    box-shadow: 0 0.1px 1px rgba(0, 0, 0, 0.1);
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    float: none;
    background-color: #007bff;
    color: white;
    border: none;
}

.validation button:hover,
.modify button:hover,
.delete button:hover {
    background-color: #0056b3;
}

.CheckGroup {
    display: flex;
    flex-wrap: wrap;
}

.CheckGroup label {
    flex-basis: calc(16.666% - 10px);
    margin-right: 20px;
    margin-bottom: 10px;
}

.formGroup button[type='submit'] {
    padding: 20px 80px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: 20px;
}

.formGroup button[type='submit']:hover {
    background-color: #0056b3;
}

.formName input[type='text'] {
    width: 15%;
}

.formEmail input[type='email'],
.formNumber input[type='tel'],
.formHNumber input[type='tel'],
.SnsEmail input[type='email'] {
    width: 30%;
}

.formDate input[type='date'],

.formHistory input[type='text'],
.formHistory input[type='date'] {
    width: 20%;
}

.formAffiliation input[type='text'] {
    width: 35%;
}

.formAddress input[type='text'] {
    width: 30%;
}

.addressInput1 {
    width: 50%;
    margin-right: 10px;
}

.addressInput2 {
    width: 80%;
    margin-right: 10px;
}

.addressInput3 {
    width: 30%;
    margin-right: 10px;
}

.formHistory input[type='date'] {
    width: 300px;
    height: 33px;    
}

.formAddress {
    display: flex;
    flex-direction: column;  
}

.formAddress input[type='text'] {
    width: 50%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.CheckGroup {
    display: flex;
    flex-wrap: wrap;
}

.CheckBoxGroupLow {
    display: table-column;
}

.CheckBoxGroup label {
    display: inline-block;
    margin-right: 10px; 
    margin-bottom: 10px; 
}

.formHistory .historyField .dateRange input[type='date'] {
    width: 150px; /* 변경 가능한 값 */
    /* 기존에 있는 스타일 추가 */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}