.signUp_form {
    height: 2200px;
}

.signUp_form button{
    border:none;
}

.signUp_center {
    background-color: white;
    height: 90%;
    width: 60%;
    padding: 3%;
    margin-left: 20%;
    margin-top: 1%;
    border-radius: 10px;
}

.subtitle {
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    font-weight: 600;
}

.subtitle > div:first-child {
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.subtitle > div > text {
    font-size: 15px;
    color: rgb(121, 121, 121);
    margin-left: 20px;
    margin-top: 10px;
}

.base_info {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 800;
}

ul {
    list-style: none;
}

.base_info > div > ul:first-child {
    height: 80%;
}

.base_left > ul > li {
    text-align: right;
    height: 40px;
}

.base_right > ul > li {
    height: 40px;
}

.signUp_form input {
    margin-right: 5px;
}

label {
    margin-right: 25px;
}

.check_btn {
    border-radius: 15px;
    background-color: rgb(214, 214, 214);
    height: 30px;
    font-weight: 500;
}

.address_btn {
    border-radius: 15px;
    background-color: rgb(214, 214, 214);
    height: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 10px;
}

#email1 {
    width: 30%;
}

.zonecode {
	display: flex;
	flex-direction: row;
}

.zonecode_view {
	border: 1px solid black;
	width: 55px;
	height: 30px;
	padding: 3px;
}

.address {
	margin-bottom: 10px;
}

.added_info {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 800;
}

.added_left > ul {
    width: 100px;
    margin-left: 28px;
}

.added_left > ul > li {
    padding-top: 1px;
    text-align: right;
    height: 40px;
}

#interest_etc {
    width: 30%;
}

.added_right > ul > li {
    height: 40px;
}

.agreement {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 40px;
    font-size: 15px;
    text-align: center;
}

#agreement1, #agreement2 {
    margin-bottom: 30px;
}

.agreement_title {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.agreement_content1, .agreement_content2 {
    font-size: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    height: 200px;
    margin-left: 5%;
    margin-bottom: 20px;
}

#signUp_btn {
    font-size: 30px;
    border-radius: 10px;
    width: 50%;
    height: 60px;
    background-color: #7193D2;
    color: white;
}

#signUp_btn > a {
    text-decoration: none;
    color: white;
}