.findPw_input {
    height: 600px;
}

#findPw_input_INFO {
    border-radius: 10px;
    height: 55%;
    width: 60%;
    margin-left: 20%;
    margin-top: 1%;
    background-color: rgb(255, 255, 255);
}

#findPw_input_INFO > ul {
    width: 100%;
    padding: 0;
    margin-left: 30%;
    padding-top: 8%;
}

#findPw_input_INFO > ul > li > input {
    width: 40%;
    margin-bottom: 20px;
} 

#findPw_btn {
    font-size: 25px;
    color: white;
    width: 30%;
    height: 20%;
    border: none;
    border-radius: 10px;
    background-color: #7193D2;
    margin-left: 35%;
}