.login_form {
    height: 800px;
}

.title {
    height: 120px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    align-content: end;
    margin-bottom: 1%;
}

.line {
    border: 1px solid rgb(204, 204, 204);
    width: 80%;
    margin-left: 10%;
}

#instructions {
    height: 10%;
    width: 40%;
    text-align: center;
    margin-left: 30%;
    margin-top: 1%;
    font-size: 25px;
    font-weight: 500;
    align-content: center;
    background-color: white;
    border-radius: 10px;
}

.login_center {
    border-radius: 10px;
    height: 50%;
    width: 40%;
    margin-left: 30%;
    margin-top: 1%;
    background-color: white;
    padding-top: 30px;
}

.integration_login {
    text-align: center;
    height: 80%;
    color: rgb(88, 88, 88);
    width: 100%;
}

.integration_login > div:first-child {
    font-size: large;
    font-weight: 800;
}

.input_login {
    width: 60%;
    font-size: 18px;
    font-weight: 550;
    margin-left: 20%;
    margin-top: 7%;
}

.input_login > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8%;
}

.input_login > div > input {
    height: 40px;
    width: 300px;
    background-color: #E8F8FF;
    border: 1px solid rgb(207, 207, 207);
}

#login_btn {
    border-radius: 10px;
    width: 50%;
    height: 17%;
    background-color: #7193D2;
    color: white;
    border:none;
}

.login_bottom {
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

.login_bottom > a {
    text-decoration: none;
    color: black;
}
